@charset "utf-8";
/* CSS Document */

#contenedor {
	background-color: rgba(238,236,236,0.79);
	cursor: default;
}
/******************************/
/************BANNER************/
/******************************/
.imgbanner {
	width: 100%;
	height: 500px;
}
.imgbaner {
	height: 250px;
}
/*****************************/
/************VIDEO************/
/*****************************/
.videoini {
	height: 400px;
}
/******************************/
/************FOOTER************/
/******************************/
#divfooter {
	background: #000000;
	color: #FFFFFF;
}
footer h3 {
	padding: 5px;
	border-bottom: 1px solid gray;
}
.icons {
	font-size: 25pt;
	color: grey;
	cursor: pointer;
}
.tex-footer p span a {
	text-decoration: none;
}
#fb:hover {
	color: #2700FF;
}
#tt:hover {
	color: aqua;
}
#gm:hover {
	color: #FF0004;
}
#derechos {
	border-top: 1px solid gray;
}
#derechos p {
	text-align: center;
	padding: 5px;
	color: slategray;
}


@media screen and (max-width:575px){
	#divcarrucel{
		display: none;
		position: absolute;
	}
}